<div class="panel-group" id="faqs--{{ block.id }}">

    {% for faq in block.faqs %}
        <div class="panel panel-default ">

            <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse"
                 data-parent="#faqs--{{ block.id }}" data-target="#faq__question--{{ faq.id }}">

                <h4 class="panel-title">
                    <a href="#" onclick="return false;">{{ faq.question }}</a>
                </h4>

            </div>

            <div id="faq__question--{{ faq.id }}" class="panel-collapse collapse" style="height: 0;">

                <div class="panel-body">
                    {{ faq.answer.render|raw }}
                </div>

            </div>
        </div>
    {% endfor %}

</div>
